nav ul li{
  display:inline-block;
  padding:10px;
  font-size:20px;
  color:black;
  text-decoration:none;
  text-transform: uppercase;
}
.header-link{
  max-width: 1170px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto; 
}
.header-bg{
  background-color: grey;
  height: 50px;
}
.header-bg li{
	display: inline-block;
    vertical-align: middle;
}